body, table, div, p, dl {
	font-family: Consolas, 'Meiryo UI', monospace;
	font-size: 98%;
}

/* プロジェクト名 */
#projectname {
	font-size: 200%;
}

/* 左のツリー構造のナビ */
#nav-tree .label {
	font-family: Consolas, 'Meiryo UI', monospace;
	font-size: 100%;
}

/* ページタイトル */
.title {
	font-family: Consolas, 'Meiryo UI', monospace;
	font-size: 160%;
	font-weight: normal;
}

h1 {
	border-bottom: 1px solid #879ECB;
	color: #354C7B;
	font-size: 140%;
	font-weight: normal;
	margin-top: 40px;
	padding-bottom: 4px;
}

h2.memtitle {
	font-family: Consolas, 'Meiryo UI', monospace;
	font-size: 120%;
	line-height: 100%;
}

/* 目次 */
div.toc h3 {
	font-family: Consolas, 'Meiryo UI', monospace;
	font-size: 100%;
	line-height: 100%;
}

div.toc li {
	font-family: Consolas, 'Meiryo UI', monospace;
	font-size: 100%;
	line-height: 100%;
}

/* 本文 */
.textblock {
	line-height: 150%;
}

table.directory {
	font-family: Consolas, 'Meiryo UI', monospace;
}

div.summary {
	font-size: 100%;
}

/* 関数プロトコル */
.memproto {
	padding: 2px;
}

/* ソースコード */
div.line {
	font-family: Consolas, 'Meiryo UI', monospace;
	font-size: 100%;
	line-height: 120%;
}

/* 引数・戻り値 */
.params, .retval, .exception, .tparams {
	font-family: Consolas, 'Meiryo UI', monospace;
}

/* include */
code {
	font-family: Consolas, 'Meiryo UI', monospace;
}

/* extern */
span.mlabel {
	font-size: 90%;
}

/* 表示階層 */
.directory .levels {
	font-size: 100%;
}